.navbar {
    --tw-text-opacity: 1;
    background-color: rgba(37, 99, 235, var(--tw-text-opacity));
    position: relative;
    z-index: 999;
    
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    --tw-text-opacity: 1;
    color: white;
    background-color: rgba(37, 99, 235, var(--tw-text-opacity));
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar ul ul {
    position: absolute;
    top: 100%;
    display: none;
}

.navbar ul ul li {
    display: block;
}
    
.navbar li:hover ul {
    display: block;
    margin-left: 23px;
}

.navbar ul ul li a:hover {
    --tw-text-opacity: 1;
    background-color: rgba(29, 78, 216, var(--tw-text-opacity));
}